{% extends 'base.html.twig' %}

{% block title %}Tableau des Pays{% endblock %}

{% block body %}

{% block menu %}
    {% include "navbar/navbar.html.twig" %}
{% endblock %}

    <div class="container">
        <h1 class="title text-center mt-4">Tableau des pays</h1>
        <table class="table mt-4">
            <thead>
                <tr>
                    <th scope="col">Country</th>
                    <th scope="col">Inhabitants</th>
                    <th scope="col">Capital</th>
                    <th scope="col">Continent</th>
                </tr>
            </thead>
            {% for country in countries %}
            <tbody>
                <tr>
                    <td>{{ country.name }}</td>
                    <td>{{ country.NbInhabitants }}</td>
                    <td>{{ country.CapitalCity}}</td>
                    <td>{{ country.continents}}</td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>

    {% if app.user %}
        <a class="btn btn_success" href="{{ path('countries_new') }}">Intégrer un nouveau Pays</a>
    {% endif %}
{% endblock %}